/* The McGriddle - MADE IN CHIRAQ HOMIE */
$gutter: map-get($mcGriddle-config,gutter);
$columnPrefix: map-get($mcGriddle-config,columnPrefix);
$gridPrefix: map-get($mcGriddle-config,gridPrefix);
.#{$gridPrefix} {
  padding-left: $gutter;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .#{$gridPrefix} {
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};
  }
  &--container {
    @extend .#{$gridPrefix};
    margin:0 auto;
  }
  &.vertical-spacing {
    padding-top:$gutter;
  }
}

%all-columns {
  position:relative;
  float: left;
  width:calc(100% - #{$gutter});
  margin-right:$gutter;
  box-sizing:border-box;

  .vertical-spacing & {
    margin-bottom:$gutter;
  }
}
$columns: map-get($mcGriddle-config,columns);
@for $i from 0 through $columns {
  $percentage  : ((1 / $columns) * $i) * 100%;
  @if ($i > 0) {
    .#{$columnPrefix}#{$i} {
      @extend %all-columns;
      width: calc(#{$percentage} - #{$gutter});
    }
  }
}
@each $breakpointAlias, $breakpoint in map-get($mcGriddle-config,breakpoints) {
  $columns: map-get($mcGriddle-config,columns);
  $alias: $breakpointAlias;
  @media screen and (min-width:$breakpoint) {
    @if (map-has-key(map-get($mcGriddle-config,breakpoints),map-get($mcGriddle-config,fluidAt)) == false) {
      //@error "You want McGriddle to become fluid at the breakpoint \"#{map-get($mcGriddle-config,fluidAt)},\" but \"#{map-get($mcGriddle-config,fluidAt)}\" isn't a valid breakpoint :( Check the mcGriddle-config."
    }
    @if ($breakpoint >= map-get(map-get($mcGriddle-config,breakpoints),map-get($mcGriddle-config,fluidAt))) {
      .#{$gridPrefix}--container { width: $breakpoint - $gutter; }
    }
    @for $i from 0 through $columns {
      $percentage  : ((1 / $columns) * $i) * 100%;
      $percentageOrAuto : if($percentage == 0%,auto,$percentage);
      @if ($i > 0) {
        .#{$columnPrefix}#{$alias}-#{$i} {
          @at-root(without:media) { @extend %all-columns; }
          width: calc(#{$percentage} - #{$gutter});
        }
      }
      .#{$columnPrefix}#{$alias}-offset-#{$i} {
        margin-left:$percentage;
      }
      .#{$columnPrefix}#{$alias}-pull-#{$i} {
        right:$percentageOrAuto;
      }
      .#{$columnPrefix}#{$alias}-push-#{$i} {
        left:$percentageOrAuto;
      }
    }
  }
}
